<form [formGroup]="processoForm" (ngSubmit)="edit()" *ngIf="processoForm">
  <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">NPU</label>
      <input type="text" class="form-control" id="" formControlName="npu"
        placeholder="1111111-11.1111.1.11.1111" mask="0000000-00.0000.0.00.0000">
  </div>

  <select class="form-select" (change)="findMunicipios()" formControlName="uf" >
      <option [ngValue]="null" selected> Selecione </option>
      <option *ngFor="let uf of ufs" [ngValue]="uf.sigla" >
        {{ uf.sigla }}
      </option>
  </select>

  <select class="form-select" formControlName="municipio" >
      <option [ngValue]="null" selected>Selecione</option>
      <option *ngFor="let m of municipios" [ngValue]="m.nome" >
        {{ m.nome }}
      </option>
  </select>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Anexar</label>
    <input type="file" class="form-control" id="" (change)="fileSelect($event)">
  </div>

  <button type="submit" class="btn btn-success">
    <i class="fa fa-save fa-lg"></i> Editar
  </button>
  <button type="button" class="btn btn-info m-10" routerLink="/list">
    <i class="fa fa-arrow-left fa-lg"></i> Cancelar
  </button>
</form>


