<div class="modal-header titulo-modal">
  <div class="titulo-texto">
    <div> Processo {{ processo.id}}</div>
  </div>
</div>
<div class="modal-body">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Npu</th>
        <th scope="col">Data Cadastro</th>
        <th scope="col">Data Visualização</th>
        <th scope="col">Município</th>
        <th scope="col">UF</th>
        <th scope="col">Download</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ processo.npu | mask: '0000000-00.0000.0.00.0000' }}</td>
        <td>{{ processo.dataCadastro | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ processo.dataVisualizacao | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ processo.municipio }}</td>
        <td>{{ processo.uf }}</td>
        <td class="ptb-2">
          <span *ngIf="processo.pathUploadDocumento">
            <a href="fileUrl" download="file1.txt" target="_blank" rel="noopener noreferrer">
              <button type="submit" class="btn btn-secondary" (click)="download(processo.id, processo.pathUploadDocumento)">
                <i class="fa fa-download fa-lg"></i>
              </button>
            </a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <button #focar type="button" class="btn" (click)="activeModal.close()">Fechar</button>
</div>
