<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Npu</th>
      <th scope="col">Data Cadastro</th>
      <th scope="col">dataVisualizacao</th>
      <th scope="col">municipio</th>
      <th scope="col">UF</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of processos">
      <th>{{ p.id }}</th>
      <th>{{ p.nome }}</th>
      <th>{{ p.npu }}</th>
      <th>{{ p.dataCadastro | date: 'dd/MM/yyyy HH:mm:ss' }}</th>
      <th>{{ p.dataVisualizacao }}</th>
      <th>{{ p.municipio }}</th>
      <th>{{ p.uf }}</th>
    </tr>
  </tbody>
</table>